tmp/**/*
tmp/**/**/*
.htaccess
config/core.php
config/config.php
config/database.php
webroot/.htaccess
webroot/index.php
webroot/test.php
webroot/**/**/nppBackup/*
webroot/**/**/**/nppBackup/*
webroot/**/nppBackup/*
!.gitignore
nppBackup/*
models/nppBackup/*
models/**/nppBackup/*
models/**/**/nppBackup/*
controllers/nppBackup/*
controllers/**/nppBackup/*
controllers/**/**/nppBackup/*
views/**/nppBackup/*